In [3]:
import pandas as pd
#df_tgenome = pd.read_csv('genome-tags.csv')

In [4]:
df_genre = pd.read_csv('movies.csv')#for genre as it is
df_ratings = pd.read_csv('ratings.csv')#for ratings with mordification
df_tags  = pd.read_csv('tags.csv') #for tags with mordification
df_relevance = pd.read_csv('genome-scores.csv')
dft_genome =  pd.read_csv('genome-tags.csv')

In [5]:
#modelling dataset for genre

In [6]:
df_movies = df_genre.set_index('movieId')
df_movies.genres=df_movies.genres.apply(lambda x: x.replace('|',' '))
df_movies.title=df_movies.title.apply(lambda x: x.replace(',',' '))    #removing commas since they disturb importation
df_movies.head(20)

,title,genres
movieId,,
1,Toy Story (1995),Adventure Animation Children Comedy Fantasy
2,Jumanji (1995),Adventure Children Fantasy
3,Grumpier Old Men (1995),Comedy Romance
4,Waiting to Exhale (1995),Comedy Drama Romance
5,Father of the Bride Part II (1995),Comedy
6,Heat (1995),Action Crime Thriller
7,Sabrina (1995),Comedy Romance
8,Tom and Huck (1995),Adventure Children
9,Sudden Death (1995),Action
10,GoldenEye (1995),Action Adventure Thriller
11,American President The (1995),Comedy Drama Romance
12,Dracula: Dead and Loving It (1995),Comedy Horror
13,Balto (1995),Adventure Animation Children
14,Nixon (1995),Drama
15,Cutthroat Island (1995),Action Adventure Romance
16,Casino (1995),Crime Drama
17,Sense and Sensibility (1995),Drama Romance
18,Four Rooms (1995),Comedy
19,Ace Ventura: When Nature Calls (1995),Comedy
20,Money Train (1995),Action Comedy Crime Drama Thriller

In [7]:
genre_csv=df_movies.to_csv('movie_genre.csv',header=False,index=False)

In [8]:
#modelling dataset for ratings

In [9]:
df_ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [10]:
dfr_new=df_ratings.groupby(['movieId','userId']).rating.mean().unstack().fillna(0)
ratings = pd.merge(df_movies,dfr_new,left_index=True,right_index=True,how='inner').drop(columns='genres')
ratings.head()

,title,1,2,3,4,5,6,7,8,9,...,7036,7037,7038,7039,7040,7041,7042,7043,7044,7045
movieId,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),0.0,3.5,4.0,3.0,4.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,5.0,3.5,4.0,4.5,0.0,0.0,4.5
2,Jumanji (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Grumpier Old Men (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Waiting to Exhale (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Father of the Bride Part II (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
ratings_csv=ratings.to_csv('movie_ratings.csv',header=False,index=False)

In [12]:
#modelling dataset for tagging

In [13]:
df_rel=df_relevance[df_relevance['relevance']> 0.5]
df_rel = pd.merge(df_rel,dft_genome,on='tagId',how = 'inner')
dftag=df_rel.groupby('movieId').tag.agg(lambda x : ' '.join([str(k) for k in x]))
dftn = pd.merge(df_movies, dftag, left_index=True, right_index=True, how='inner').drop(columns='genres')
dftn.title=dftn.title.apply(lambda x: x.replace(',',' ')) 
dftn.tag=dftn.tag.apply(lambda x: x.replace(',',' '))
dftn.head(20)

,title,tag
movieId,,
1,Toy Story (1995),3d action adventure affectionate animal movie ...
2,Jumanji (1995),action adventure animals based on book bullyin...
3,Grumpier Old Men (1995),comedy destiny good great mentor original very...
4,Waiting to Exhale (1995),chase feel-good friendship original touching u...
5,Father of the Bride Part II (1995),catastrophe chase comedy cute cute! destiny fa...
6,Heat (1995),action chase cool dialogue excellent excellent...
7,Sabrina (1995),catastrophe destiny dialogue family good happy...
8,Tom and Huck (1995),adventure based on book childhood children dis...
9,Sudden Death (1995),action chase good action original big budget g...
10,GoldenEye (1995),action adventure catastrophe chase cool exciti...
11,American President The (1995),catastrophe chase cute destiny dialogue excell...
12,Dracula: Dead and Loving It (1995),comedy funny original very funny silly fun far...
13,Balto (1995),animal movie animals animated animation cartoo...
14,Nixon (1995),great great movie greed mentor original oscar ...
15,Cutthroat Island (1995),action adventure chase fun fun movie good acti...
16,Casino (1995),based on book clever cool dialogue entertainin...
17,Sense and Sensibility (1995),affectionate based on book catastrophe classic...
18,Four Rooms (1995),clever comedy dialogue funny good soundtrack g...
19,Ace Ventura: When Nature Calls (1995),comedy funny humorous original very funny jung...
20,Money Train (1995),action chase entertaining fun movie good actio...

In [14]:
tags_csv=dftn.to_csv('movie_tags.csv',header=False,index=False)

In [15]:
#modelling dataset for combined distance
#dftn

In [16]:
dfc = pd.merge(df_movies, dftag, left_index=True, right_index=True, how='inner')
df_combine = pd.merge(dfc,dfr_new,left_index=True,right_index=True, how='inner')
#df_combine.iloc[:,3:] = df_combine.fillna(0)
#df_combine.iloc[:,:3] = df_combine.iloc[:,:3].fillna('0')
df_combine.tag=df_combine.tag.apply(lambda x: x.replace('[^\w\s]','')) #removing punctuations
df_combine.head(3)

,title,genres,tag,1,2,3,4,5,6,7,...,7036,7037,7038,7039,7040,7041,7042,7043,7044,7045
movieId,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,3d action adventure affectionate animal movie ...,0.0,3.5,4.0,3.0,4.0,0.0,0.0,...,0.0,0.0,0.0,5.0,3.5,4.0,4.5,0.0,0.0,4.5
2,Jumanji (1995),Adventure Children Fantasy,action adventure animals based on book bullyin...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Grumpier Old Men (1995),Comedy Romance,comedy destiny good great mentor original very...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
combine_csv=df_combine.to_csv('combine.csv',header=False,index=False)

In [18]:
df_movies.shape

(62423, 2)